body{ 

    background-color: #ffc0cb;
}

.carousel-inner{
    max-height: 500px;
}

section{
    margin-top: 50px;
}

.titulo{
    text-align: center;
}

.sobre{
    align-items: center;
}

footer{
     
    background-color:#db7093;
    border-radius: 5%;
    position:relative;  

}

h1,h2{

    text-align: center;
    color:#FFF0F5;
    font-family: Courier New;
    font-weight: bold
}

h5{

    color:#000000 ;
    font-family:Courier New ;
    font-weight: bold
}

h4,h3{

    font-family:Courier New ;
    font-weight: bold
}

.carroselfont{
    color:#000000 ;
}

.icon{
	height: 55%;
	width: 40%;
	padding-left: 5%;
	margin-left: 28%;
    width: 70%;
    height: 70%;
    
}